
/* Table */
table {
    border-collapse: collapse;
    border-spacing: 5px;
    border: 0;
    margin-left: 65px;
    margin-top: 25px;
    font-size: 15px;
    table-layout: fixed;
    width: 65%;
    text-wrap: wrap;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
